body {
    background-color: rgb(151, 219, 255);
}

#div {
    width: 50%;
    height: 700px;
    padding: 20px;;
    background-color: white;
    float: right;
}

#button {
    background-color:rgb(151, 219, 255) ;
    width: 40%;
    height: 50px;
    font-size:20px ;
}

#username {
    width: 70%;
}

#div1 {
    float: left;
    width: 50%;
    background-color: cadetblue;
    height: 700px;
    font-family:fantasy;
}

#div h1 {
    margin-top: 30%;
}